body {
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
}
.mobile-menu {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
}

.content {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .menu-items.show {
    display: flex;
  }

  .menu-items li {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #555;
  }

  .menu-icon {
    display: block;
  }
}

/* Оновлені стилі для інших елементів сторінки */
#Img1 {
    float: none;
    margin: 10px auto 0;
    padding: 0;
    border: none;
    height: auto;
}

#Zah1 {
    font-size: 36px;
    text-align: center;
    padding-left: 0;
}

hr {
    padding-left: 20%;
    padding-right: 20%;
    border: 5px solid #FFCB25;
}

.line1 {
    width: 80%;
    border-radius: 0;
    padding-left: 10%;
}

#P12,
#P1 {
    font-size: 18px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

#sport,
#disqualification,
#merits,
#dzherela {
    padding-top: 20px;
}

#Img2{
    float: none;
    margin: 0 auto;
    padding: 0;
    border: none;
    height: auto;
}

#Img3 {
    float: none;
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 100%;
}

#Div2,
#Div4,
#Div5 {
    padding-left: 10%;
    padding-right: 10%;
}

#P2 {
    font-size: 18px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#Zaslugu li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
   background-color: #FFCB25;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	height: 100px;
	padding-top: 50px;
    width: 100%;
}
